.note {
  border-bottom: 1px solid #ccc;
  padding: 0 !important;
}

.note-header {
  background-color: #282C34;
}

.note-header,
.note-footer {
  font-weight: bold;
  padding: 5px 10px;
}
.note-footer span {
  cursor: pointer;
}
.note-date {
  text-align: right;
}
.note-tag {
  position: relative;
  left: 50px;
  width: 100px;
}
.note-tag span {
  border: 1px solid;
  border-bottom: none;
  border-top: none;
  padding: 0px 5px;
}

.note-text {
  min-height: 50px;
  padding: 10px;
}