
.app-search-panel{
  height: 50px;
  background-color:#2B3E50;
  z-index: 1;
}

.app-search-panel:first-child{
  position: sticky;
  top: 80px
}

.modul-data{
  border-bottom: 1px solid #4E5D6C;
  background-color:#2B3E50;
  z-index: 1;
  position: sticky;
  top: 130px
}