.top-panel{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4E5D6C;
  border-top: 1px solid #4E5D6C;
}

.nav-tabs{
 border: none !important; 
}

.section-tab:hover{
  background-color: #282C34;
}

.section-tab .fa-edit, 
.section-tab .fa-trash-alt{
  opacity: 0;
  transition: ease-in-out opacity .5s;
}

.section-tab:hover .fa-edit, 
.section-tab:hover .fa-trash-alt{
  opacity: 1;
}