.app-side-tags{
  margin-top: 87px;
  position: sticky;
}

.tags-item-active{
  background-color: #282C34;
}

.app-side-tags .nav-item:hover .name_tag-btns{
  display: block;
}

.app-side-tags .nav-item:hover{
  background-color: #282C34;
}

.app-side-tags .nav-item:hover .name_tag-qwt{
  display: none;
}

.name_tag-btns {
  display: none;
}