
#formHeader{
  margin-right: 20px;
}

#formHeader .col{
  /* height: 20px; */
  padding: 0 1px;
}

#formHeader .form-control-sm{
  height: calc(1.5em + 0.5rem + -5px);
  padding: 0.25rem 0.5rem;
  width: 150px;
}

#formHeader .btn-sm{
  /* margin-top:-2px; */
  padding: 0 7px;
}

#formHeader .nav-item span{
	cursor: pointer;
}

#formHeader .nav-item{
	color: rgba(255,255,255,0.75);
}

#formHeader .nav-item:hover{
	color: #fff;
}

#formHeader .nav-item a:hover{
	text-decoration: none;
}


@media (max-width: 767.98px) {

  .auth-false .nav-link-name{
    display: none;    
  }

  .auth-false i{
    font-size: 20px;    
  }

  #formHeader .form-control-sm{
    width: 130px;
  }
}

@media (max-width: 400px) {

  .auth-false i{
    font-size: 18px;    
  }

  #formHeader .form-control-sm{
    width: 100px;
  }
}

@media (max-width: 335px) {

  .auth-false i{
    display: none;    
  }


}