@import settings

.note 
  border-bottom: 1px solid $brd-btm-color
  padding: 0 !important

.note-header-night 
  background-color: $bg-night-hover
  font-weight: bold
  padding: 5px 10px

.note-header-light 
  background-color: $bg-light-hover
  font-weight: bold
  padding: 5px 10px

.note-footer 
  font-weight: bold
  padding: 5px 10px
  
.note-footer span 
  cursor: pointer
  
.note-date 
  text-align: right

.note-tag .name-tag 
  border: 1px solid
  border-bottom: none
  border-right: none
  border-top: none

.arrow-switch
  cursor: pointer

.note-text-short 
  overflow: hidden
  height: 70px